.property-thumb.col-lg-4.col-sm-6.col-xs-6.col-12.pull-left
  .property
    .image-holder{style: "background-image: url('#{property.img1.attachment.present? ? url_for(property.img1) : asset_url('missing.png')}')"}
      .visible-caption
        = property.visible_caption
    .details
      .property-details
        .property-detail
          - q = ''
          - if property.acre.present? && property.acre > 0
            - q = q + "#{property.acre} acre"
          - if property.cent.present?
            - q = q + " #{property.cent} cent"
          = q
        .property-detail
          = "property at #{property.place}"
      - if defined?(user) && user.admin?
        .property-details
          .property-detail
            = user.name
        .property-details
          .property-detail
            = link_to user.contact_number, "tel:#{user.contact_number}"
          .property-detail
            = link_to 'View', land_path(property), class: 'property-action-link'
      - else
        = render partial: 'lands/property_action', locals: {property: property}