.property-form-container
  = simple_form_for(@property) do |f|
    = f.input :place, label: 'Place', input_html: {class: 'property-place-filter-field place-filter-field'}
    .suggestions.places.d-none
    = f.input :acre
    = f.input :cent
    = f.input :expected_price
    = f.input :landmark
    = f.input :iframe, label: 'share youtube embed code (optional)'
    = f.input :img1, label: "photo (required)", required: true
    - if current_user.admin?
      = f.input :visible_caption
      = f.input :tags
    = f.submit 'Submit'
  = link_to 'cancel', lands_path