.filter-container
  .h3
    Search Office Spaces for rent
  .filter
    = form_with(url: '/index', method: 'get', class: 'filter-form') do
      .place-filter
        = label_tag 'Nearby Place'
        .clearfix
        = text_field_tag 'place', session[:place], class: 'place-filter-field office-place-filter-field'
        .suggestions.places.d-none
      .budget-filter
        = label_tag 'Budget'
        .clearfix
        = text_field_tag 'price1', nil, class: 'filter-field office-filter-field'
        to
        = text_field_tag 'price2', nil, class: 'filter-field pull-right office-filter-field'
        .clearfix
      .budget-filter
        = label_tag 'Area in square feets'
        .clearfix
        = text_field_tag 'area1', nil, class: 'filter-field office-filter-field'
        to
        = text_field_tag 'area2', nil, class: 'filter-field pull-right office-filter-field'
        .clearfix
            
      = hidden_field_tag 'filtering', 'true'
      = hidden_field_tag  'state', [params[:state], 'approved'].find(&:present?)
