.property-thumb.col-lg-4.col-sm-6.col-xs-6.col-12.pull-left
  .property
    .image-holder{style: "background-image: url('#{property.img1.attachment.present? ? url_for(property.img1) : asset_url('missing.png')}')"}
      .visible-caption
        = property.visible_caption

    .details
      .property-details
        .property-detail
          = property.summary
        .clearfix
          = "Rs #{property.expected_price}"
        .clearfix
      - if defined?(user) && user.admin?
        .property-details
          .property-detail
            = user.name
        .property-details
          .property-detail
            = link_to user.contact_number, "tel:#{user.contact_number}"
          .property-detail
            = link_to 'View', house_path(property), class: 'property-action-link'
      - else
        = render partial: 'houses/property_action', locals: {property: property}