.property-form-container
  = simple_form_for(@property) do |f|
    = f.input :place, label: 'Place', input_html: {class: 'place-filter-field'}
    .suggestions.places.d-none
    = f.input :expected_price, label: 'Rent'
    = f.input :area, label: 'Area in square feets'
    = f.input :landmark
    = f.input :iframe, label: 'share youtube embed code (optional)'
    = f.input :img1, label: "photo 1 (required)", required: true
    = f.input :img2, label: "photo 2 (optional)"
    = f.input :img3, label: "photo 3 (optional)" 
    - if current_user.admin?
      = f.input :visible_caption
    = f.submit 'Submit'
  = link_to 'cancel', houses_path