= link_to 'interests', interests_lands_path, class: 'action-button new-property float-left'
= link_to 'Add Property', new_land_path, class: 'action-button new-property'
.clearfix
= render partial: 'lands/filter'
.states.col-lg-12
  .state.col-sm-3.pull-left{class: params[:state] == 'new' ? 'highlight' : ''}
    = link_to "New(#{@new_properties})", lands_path(state: 'new')
  .state.col-sm-3.pull-left{class: params[:state] == 'approved' ? 'highlight' : ''}
    = link_to "Approved", lands_path(state: 'approved')
  .state.col-sm-3.pull-left{class: params[:state] == 'sold' ? 'highlight' : ''}
    = link_to 'Sold', lands_path(state: 'sold')
  .state.col-sm-3.pull-left{class: params[:state] == 'archived' ? 'highlight' : ''}
    = link_to 'Archived', lands_path(state: 'archived')
  .clearfix
.properties
  = render partial: 'properties', locals: {properties: @properties}
.clearfix