= link_to 'interests', interests_servents_path, class: 'action-button new-property float-left'
= link_to 'List Servent', new_servent_path, class: 'action-button new-property'
.clearfix
= render partial: 'servents/filter'
.states.col-lg-12
  .state.col-sm-3.pull-left{class: params[:state] == 'new' ? 'highlight' : ''}
    = link_to "New(#{@new_properties})", servents_path(state: 'new')
  .state.col-sm-3.pull-left{class: params[:state] == 'approved' ? 'highlight' : ''}
    = link_to "Approved", servents_path(state: 'approved')
  .state.col-sm-3.pull-left{class: params[:state] == 'sold' ? 'highlight' : ''}
    = link_to 'Sold', servents_path(state: 'sold')
  .state.col-sm-3.pull-left{class: params[:state] == 'archived' ? 'highlight' : ''}
    = link_to 'Archived', servents_path(state: 'archived')
  .clearfix
.properties
  = render partial: 'properties', locals: {properties: @properties}
.clearfix