.property-action.property-details
  - if current_user && current_user.admin?
    .property-detail
      - if property.state == 'new'
        = link_to 'approve', set_state_land_path(property, state: 'approved'), method: :put, remote: true, class: 'property-action-link'
        = link_to 'ignore', set_state_land_path(property, state: 'archived'), method: :put, remote: true, class: 'property-action-link'
      - if property.state == 'approved'
        = link_to 'sold', set_state_land_path(property, state: 'sold'), method: :put, remote: true, class: 'property-action-link'
        = link_to 'disapprove', set_state_land_path(property, state: 'new'), method: :put, remote: true, class: 'property-action-link'
      - if property.state == 'sold'
        = link_to 'archive', set_state_land_path(property, state: 'archived'), method: :put, remote: true, class: 'property-action-link'
        = link_to 'renew', set_state_land_path(property, state: 'approved'), method: :put, remote: true, class: 'property-action-link'
      - if property.state == 'archived'
        = link_to 'sold', set_state_land_path(property, state: 'sold'), method: :put, remote: true, class: 'property-action-link'
  - if current_user && current_user.admin? || current_user == property.user
    .property-detail
      = link_to 'edit', edit_land_path(property)
  = link_to 'View', land_path(property), class: 'property-action-link'