= render partial: 'layouts/sub_nav'
.property-show
  .property-expand
    %h1
      - if @property.visible_caption.present?
        = @property.visible_caption
    %h4
      = @property.place
    - unless current_user.try :admin?
      .interest-button-container
        = link_to 'I am interested', interest_servent_path(@property), class: 'action-button interest-button', method: :post
    .photos
      - [1,2,3].each do |i|
        - if @property.send("img#{i}".to_sym).attachment.present?
          = image_tag(@property.send("img#{i}".to_sym))
    - if current_user.try :admin?
      .interests-container
        .interests
          .interest
            .property-detail
              Posted by
            .property-detail
              = @property.user.name
            .property-detail
              = link_to @property.user.contact_number, "tel:#{@property.user.contact_number}"
            .clearfix
            - @property.present.each do |attr, val|
              .property-detail
                = attr
              .property-detail
                = val
              .clearfix
      .interests-container
        %h2
          = "Interested People (#{@property_users.length})"

        .interests
          - @property_users.order('properties_users.created_at DESC').each do |u|
            .interest
              .property-detail
                = u.name
              .property-detail
                = link_to u.contact_number, "tel:#{u.contact_number}"