.property-thumb.col-lg-4.col-sm-4.col-xs-6.col-12.pull-left
  .property
    .image-holder{style: "background-image: url('#{property.img1.attachment.present? ? url_for(property.img1) : asset_url('missing.png')}')"}
    .property-details
      - if property.acre.present?
        .property-detail
          = "#{property.acre} acre"
      - if property.cent.present?
        .property-detail
          = "#{property.cent} cent"
  