.home
  .banner{style: "background-image: url(#{asset_url('banner-blured.jpg')})"}
    .logo
      .first.logo-section
        SAFKO
      .last.logo-section
        REALTORS
    .caption.text-center
      Lands, Houses and Office spaces
    .search
      = text_field_tag 'search', nil, class: 'search', placeholder: 'search land, house, office..'
      .suggestions.general.d-none
  .properties
  = render partial: 'layouts/sub_nav', locals: {remote: false}
  .footer
    .contact_us.col-lg-6.col-sm-12.col-12
      %h3.text-center
        SAFKO REALTORS
      %p.text-center
        RK Building
      %p.text-center
        Kunnathurmedu
      %p.text-center
        PALAKKAD
      %p.text-center
        = link_to "+91 75 94 94 33 55", "tel:+919594943355"
      %p.text-center
        = link_to "safkopkd@gmail.com", "mailto:safkopkd@gmail.com"

    .contact_us.form.col-lg-6.col-sm-12.col-12
      = render template: 'messages/new'