.property-show
  .property-expand
    %h1
      - if @property.visible_caption.present?
        = @property.visible_caption
      - else
        - acre = @property.acre.to_i > 0 ? "#{@property.acre} acre" : nil
        - cent = @property.cent.to_i > 0 ? "#{@property.cent} cent" : nil
        = "#{acre} #{cent}"
    - unless current_user.try :admin?
      .interest-button-container
        = link_to 'I am interested', interest_property_path(@property), class: 'action-button interest-button', method: :post
    .photos
      - [1,2,3].each do |i|
        - if @property.send("img#{i}".to_sym).attachment.present?
          = image_tag(@property.send("img#{i}".to_sym))
    - if current_user.try :admin?
      .interests-container
        %h4
          Posted by
        .interests
          .interest
            .property-detail
              = @property.user.name
            .property-detail
              = link_to @property.user.contact_number, "tel:#{@property.user.contact_number}"
      .interests-container
        %h2
          Interested People

        .interests
          - @property.users.each do |u|
            .interest
              .property-detail
                = u.name
              .property-detail
                = link_to u.contact_number, "tel:#{u.contact_number}"