.property-form-container
  = simple_form_for(@property) do |f|
    = f.input :place, label: 'Place', input_html: {class: 'place-filter-field'}
    .suggestions.places.d-none
    = f.input :expected_price, label: 'Rent'
    = f.input :area, label: 'Area in square feets'
    = f.input :landmark
    = f.input :img1, label: "photo (required)", required: true
    - if current_user.admin?
      = f.input :visible_caption
      = f.input :tags
    = f.submit 'Submit'
  = link_to 'cancel', commercial_buildings_path