.filter-container
  .h3
    Search Cars for sale
  .filter
    = form_with(url: '/index', method: 'get', class: 'filter-form') do
      .place-filter
        = label_tag 'Nearby Place'
        .clearfix
        = text_field_tag 'place', session[:place], class: 'place-filter-field car-place-filter-field'
        .suggestions.places.d-none
      .budget-filter
        = label_tag 'Budget'
        .clearfix
        = text_field_tag 'price1', nil, class: 'filter-field car-filter-field'
        to
        = text_field_tag 'price2', nil, class: 'filter-field pull-right car-filter-field'
        .clearfix
      .budget-filter
        = label_tag 'brand'
        .clearfix
        = text_field_tag 'brand', nil, class: 'filter-field brand car-filter-field car-brand-filter-field'
        .suggestions.brands.d-none
        .clearfix
        = label_tag 'model'
        .clearfix
        = text_field_tag 'model', nil, class: 'filter-field model car-model-filter-field car-filter-field'
        .suggestions.models.d-none
      = hidden_field_tag 'filtering', 'true'
      = hidden_field_tag  'state', [params[:state], 'approved'].find(&:present?)
