.property-form-container
  = simple_form_for(@property) do |f|
    = f.input :place, label: 'Place', input_html: {class: 'place-filter-field'}
    .suggestions.places.d-none
    = f.input :brand
    .suggestions.brands.d-none
    = f.input :model
    .suggestions.models.d-none
    = f.input :expected_price
    = f.input :iframe, label: 'Share youtube embed code (optional)'
    = f.input :img1, label: "Photo 1 (required)", required: true
    = f.input :img2, label: "Photo 2 (optional)"
    = f.input :img3, label: "Photo 3 (optional)" 
    - if current_user.admin?
      = f.input :visible_caption
    = f.submit 'Submit'
  = link_to 'cancel', cars_path