= link_to t("new.#{@klass_underscore}"), eval("new_#{@klass_underscore}_path"), class: 'action-button new-property'
.clearfix
= render partial: "#{@klass_underscore.pluralize}/filter"
.properties
  = render partial: 'common/properties', locals: {properties: @properties}
.clearfix