- @properties.each do |p|
  = render partial: 'common/property_thumb', locals: {property: p}
- if @properties.count == 0 && false
  .no-results-message.text-center
    = t("no_entries.#{@klass_underscore}")
.clearfix
- if @properties.next_page
  = link_to 'show more', eval("#{@klass_underscore.pluralize}_path(params.permit!.merge({page: params[:page].present? ? params[:page].to_i + 1 : 2}))"), remote: true, class: 'more-interests-link'