- content_for :title do
  = @property.suggestion
- content_for :description do
  = [@property.visible_caption, @property.summary].find(&:present?)
= render partial: 'layouts/sub_nav', locals: {remote: true}
.property-show
  .property-expand
    %h1
      - if @property.visible_caption.present?
        = @property.visible_caption
    %h2
      = @property.summary
    - unless current_user.try :admin?
      .interest-button-container
        = link_to 'I am interested', eval("interest_#{controller_name.singularize}_path(@property)"), class: 'action-button interest-button', method: :post

    .property-assets
      - if @property.img1.attachment.present?
        = image_tag(@property.img1)
      = render partial: 'properties/property_assets/property_assets', locals: {property_assets: @property.property_assets}
    
    - if current_user.try(:admin?) || current_user == @property.user
      .new-property-asset-form-container
      = link_to 'Add image or youtube video', new_property_property_asset_path(@property), remote: true, class: 'new-property-asset-link'
    
      .attrs
        .posted-by
          .property-detail
            Posted by
          .property-detail
            = @property.user.name
          .property-detail
            = link_to @property.user.contact_number, "tel:#{@property.user.contact_number}"
          .clearfix
        %table
          - @property.present.each do |attr, val|
            %tr
              %td
                .property-detail
                  = "#{attr}:"
              %td
                .property-detail
                  = val

    - if current_user.try(:admin?)
      .interests-container
        %h2
          = "Interested People (#{@property_users.length})"

        .user-interests
          - @property_users.order('properties_users.created_at DESC').each do |u|
            .interest{class: u.seen? ? 'seen' : 'unseen'}
              .property-detail
                = u.name
              .property-detail
                = link_to u.contact_number, "tel:#{u.contact_number}"
              .property-detail
                = link_to 'seen', seen_property_properties_user_path(@property, u), remote: true, method: :put, class: 'seen-link'
                = link_to 'unseen', unseen_property_properties_user_path(@property, u), remote: true, method: :put, class: 'unseen-link'