.subnav
  - ['lands', 'houses', 'offices'].each do |p|
    .subnav-item.col-lg-4.col-sm-4.col-4.float-left{class: controller_name == p ? 'highlight' : ''}
      = link_to eval("#{p}_path(state: 'approved')"), remote: true, class: 'property-category' do
        .sub-nav-ico.col-12
          = image_tag("#{p.singularize}.jpg")
        .clearfix
        .sub-nav-text
          = p
  .clearfix