.subnav
  - sub_cat = {'land' => ['commercial_land', 'residential_plot'], 'building' => ['commercial_building', 'residential_house', 'villa'], 'rental' => ['rental_house', 'rental_office', 'rental_shop']}
  .text-center
    all Categories
  - sub_cat.each do |k, v|
    .subnav-item.col-lg-4.col-sm-4.col-4.float-left{class: v.map(&:pluralize).include?(controller_name) ? 'highlight' : ''}
      
      .sub-nav-ico.col-12{data: { target: k}}
        = image_tag("#{k}.jpg")
      .text-center
        = k.pluralize
      .clearfix
  .clearfix
  - sub_cat.each do |k, v|
    .breakdown{class: k }
      - v.each do |sc|
        = link_to t("property_name.nav.#{sc.pluralize}"), eval("#{sc.pluralize}_path"), remote: remote, class: 'property-category text-center'
  - if sub_cat.values.flatten.include?(controller_name.singularize)
    %h2.text-center.current-property
      = t("property_name.nav.#{controller_name}")
  .clearfix